#about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}
#about-us > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#about-us > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#about-us h2{
    text-align: center;
    font-size: 2em;
}
#about-us img{
    margin-bottom: 15px;
}
#about-us p{
    text-align: justify;   
    margin: 10vh;
}
#about-us a{
    width: 150px;
    text-align: center;
    background-color: var(--alt-3);
    color: var(--fondo);
    padding: 4px 6px;
    border-radius: 5rem;
    border: 1px solid var(--alt-3);
    margin-bottom: 30px;
}

#about-us a:hover{
    color: var(--alt-3);
    background-color: var(--fondo);
}

@media screen and (max-width: 1000px) {
  #about-us > div {
    flex-direction: column;
  }
  #about-us img {
    max-width: 500px;
  }
  #about-us p {
    margin: 5vh;
  }
}
@media screen and (max-width: 505px) {
  #about-us img {
    max-width: 300px;
  } 
}
