<!-- No copiar -->

<link rel="stylesheet" type="text/css" href="./product.css">

<!-- No copiar -->
<figure class="product">
   <div>
    <!-- Imágenes de ejemplo. Cambiar por las del producto correspondiente-->
     <img src="../../img/dip-belt.jpg" alt="" class="visible"> 
     <img src="../../img/premium-parallettes-max.jpg" alt="" class="hover">  
   </div>
   <figcaption>
    <span class="nombre_producto">Nombre ejemplo</span> <br> <br>
    <span class="precio_producto">420.69€</span>
  </figcaption> 
   <a href="">Ir a la página del producto</a>
</figure>
