@import '../../components/product/product.css';
#bestsellers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  height: 100%;
  min-height: 25vh;
}
#section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 25px;
  height: 600px;
}
#bestsellers h3 {
  font-size: 2em;
}
#bestsellers h5 {
  font-size: 1.1em;
  position: relative;
  top: 45px;
}
#bestsellers .section {
   top: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: absolute;
   text-align: center;
}
#bestsellers .section h4 {
  font-size: 1.5em;
}
#bestsellers .figures {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 800px) {
  #bestsellers .figures {
    flex-direction: column;
  }
  #section-container {
    height: 1200px;
  }
}
/*Para los productos de la seccion de bestsellers, no para las de seccion*/
@media screen and (max-width: 430px) {
  .product, .product img {
    width: 250px;
  }
  .product {
    left: 0px;
  }
  .product img {
    left: 50px;
    top: 100px;
  }
}
#mountain  {
  animation: mountain 30s linear infinite;
}
@keyframes mountain {
  0%, 24% {
    visibility: visible;
    opacity: 1;
  }
  24%, 25% {
    display: none;
  }
  25%, 99% {
    visibility: hidden;
    opacity: 0;
  }
  98%, 99% {
    display: block;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
#acuatic {
  animation: acuatic 30s linear infinite;
}
@keyframes acuatic {
  0%, 24% {
    visibility: hidden;
    opacity: 0;
  }
  0%, 23% {
    display: none;
  }
  24%, 25% {
    display: block;
  }
  25%, 49% {
    visibility: visible;
    opacity: 1;
  }
  49%,50% {
    display: none;
  }
  50%, 100% {
    visibility: hidden;
    opacity: 0;
  }
}
#urban {
  animation: urban 30s linear infinite;
}
@keyframes urban {
  0%, 50% {
    visibility: hidden;
    opacity: 0;
  }
  49%, 50% {
    display: block;
  }
  51%, 74% {
    visibility: visible;
    opacity: 1;
  }
  74%, 75% {
    display: none;
  }
  75%, 100% {
    visibility: hidden;
    opacity: 0;
  }
}
#equipment {
  animation: equipment 30s linear infinite;
}
@keyframes equipment {
  0%, 75% {
    visibility: hidden;
    opacity: 0;
  }
  74%, 75% {
    display: block;
  }
  76%, 99% {
    visibility: visible;
    opacity: 1;
  }
  99%, 100% {
    display: none;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
