@import '../root.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import './landing-image.css';
@import './comments.css';
@import './bestsellers.css';
@import './about-us.css';
@import './google-maps.css';
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
