#images { 
  position: relative;
  width: 500px;
  height: 600px;
  margin-block: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#images > img {
  min-width: 400px;
  position: absolute; 
  transition: all .3s;
  max-height: 600px;
  max-width: 600px;
}

#visible, #images:hover > #hover {
  opacity: 1;
  visibility: visible;
}
#hover, #images:hover > #visible {
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 1000px) {
  #images {
    width: 100%;   
  }
}
