@import './root.css';
@import '../components/header/header.css';
@import '../components/footer/footer.css';
@import './index/landing-image.css';
@import '../components/pretty_img/pretty_img.css';
#landing-image {
  background-image: url('../img/recycle.jpg') !important;
  animation: none !important;
  margin-bottom: 50px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block: 80px;
  overflow: hidden;
}
main * {
  z-index: 2;
}
main div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
main h3 {
  font-size: 2em;
  text-align: center;
}
main p {
  font-size: 1.5em;
}
#beauty {
  width: 950px;
  height: 1050px;
  background-image: radial-gradient(var(--letra-header-footer) 3px, transparent 0%);
  background-size: 40px 40px;
  background-repeat: repeat;
  border-radius: 200px;
  transform: rotate(45deg);
  z-index: 1;
  position: absolute;
  right: -500px;
}
.img-txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.img-txt.reverse {
  flex-direction: row-reverse;
}
.img-txt p {
  width: 45%;
}
#marketplace-subscription {
  padding-block: 30px;
}
#marketplace-subscription a {
  padding: 10px 50px;
  background-color: var(--fondo-header-footer);
  color: var(--letra-header-footer);
  display: block;
  border-radius: 5rem;
  border: 1px solid var(--fondo-header-footer);
}
#marketplace-subscription a:hover {
  color: var(--fondo-header-footer);
  background-color: var(--letra-header-footer);
  border: 1px solid var(--letra-header-footer);
}
#marketplace-subscription a:active {
  background-color: transparent;
}
a i {
  margin-left: 15px;
}
@media screen and (max-width: 1040px) {
  .img-txt {
    flex-direction: column;
  }
  .img-txt.reverse {
    flex-direction: column-reverse;
  }
  main div {
    width: 90%;
  }
  .img-txt p {
    width: 100%;
  }
}
