@import '../components/footer/footer.css';
@import '../components/header/header.css';
main {
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.uno, .dos {
    width: 75%;
    margin-block: 50px;
}
.uno > *, .dos > * {
    margin-inline: 15px;
}

.uno{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.dos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}
main img {
    width: 200px;
    height: auto;
}
#landing-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    background-color: #00000066;
    background-attachment: fixed;
    /* imagen ejemplo */
    background-blend-mode: darken;
    color: var(--fondo);
    background-size: cover;
    background-image: url('../img/deportes-urbanos.jpg');
    
  }
  #landing-image > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    left: 20px;
  }
  #landing-image img {
    width: 150px;
    height: auto;
  }
  #landing-image h2 {
    position: relative;
    top: 15vh;
  }

  
  @media screen and (max-width: 500px) {
    #landing-image h2 {
      text-align: center;
    }
  }
