<!--No copiar en la página-->
<link rel="stylesheet" type="text/css" href="../../styles/icons/css/pro.min.css">

<!--Importar en el css de la página-->
<link rel="stylesheet" type="text/css" href="./header.css">
<!--No copiar en la página-->

<!--Copiar en la página-->
<header>
  <div id="links"> 
    <a href="">Montaña</a>
    <a href="">Acuáticos</a>
    <a href="">Urbanos</a>
    <a href="">Equipamiento</a>
  </div>
  <a href="index.html">
    <img src="./img/logo-6da5c0.png" alt="Logo página para header">
  </a>
  <!-- 
    Cuando se copie en la página cambiar por 
    <img src="./img/logo-6da5c0.png" alt="Logo página para header">
  -->
  <div id="icons">
    <a href=""><i class="fa-light fa-user"></i></a>
    <a href=""><i class="fa-light fa-magnifying-glass"></i></a>
    <a href=""><i class="fa-light fa-recycle"></i></a>
    <a href=""><i class="fa-light fa-cart-shopping"></i></a>
  </div>
</header>
<!--Copiar en la página-->
