@import '../../styles/colors.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 90vw;
  background-color: var(--fondo-header-footer);
  color: var(--letra-header-footer);
  padding: 15px;
}
header > a > img {
  width: 50px;
  position: relative;
  right: 3em;
}
header a:visited {
  color: var(--letra-header-footer);
}
header > div#links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  text-transform: uppercase;
}
#links > a {
  text-decoration: none;
}

header > div#icons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
}
#icons > a > i {
  font-size: 1.5em;
}

