
<!--No copiar en la página-->
<!--Importar en la propia página-->
<link rel="stylesheet" type="text/css" href="../../styles/icons/css/pro.min.css">

<!--Importar en el css de la página-->
<link rel="stylesheet" type="text/css" href="./footer.css">
<!--No copiar en la página-->

<footer>
  <div>
    <img src="../../img/mountain_sport.jpg" alt="Deportes de montaña">   
    <!--Cambiar por cuando sea hora de pegar
    <img src="./img/mountain_sport.jpg" alt="Deportes de montaña">   
    -->
    <img src="" alt="">   
    <img src="" alt="">   
    <img src="" alt="">   
  </div>
  <div>
    
    <div>
      <h3>
        Secciones
      </h3>
      <div class="sections">
        <div>
          <a href="">Deportes de montaña</a>
        </div>
        <div>
          <a href="">Deportes acuáticos</a>
        </div>
        <div>
          <a href="">Deportes urbanos</a>
        </div>
        <div>
          <a href="">Equipamiento deportivo</a>
        </div>
        <div>
          <a href="">Segunda vida</a>
        </div>
        
      </div>
    </div> 
    <div>
      <h3>
        Información
      </h3>
      <div class="sections">
        <div>
          <a href="">Sobre nosotros</a>
        </div>
        <div>
          <a href="">Preguntas frecuentes</a>
        </div>
        <div>
          <a href="">Política de cookies</a>
        </div>
        <div>
          <a href="">Términos y condiciones</a>
        </div>
          
      </div>
       
    </div> 
    <div>
      <h3>Contacto</h3>
      <div id="contact">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-facebook"></i> <br>
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
      <div id="copyright">
        Deportify
        <img src="../../img/logo-6da5c0.png" alt="Logo página footer">
        © 2024
      </div>
      <div id="made_with">
        Made with 🗿🤙 <!--Cambiar por los emojis que cada uno quiera-->
      </div>
    <!-- 
      Cuando se copie en la página cambiar por 
      <img src="./img/logo-6da5c0.png" alt="Logo página para footer">
    -->
    </div> 
  </div>

</footer>
